@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&display=swap');

:root {
    --preto: #151515;
    --branco: #FFFFFF;
    --cinza: #D9D9D9;
    --verde: #4EE1A0;
    --cinza-escuro: #242424;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--preto);
    background-image: url('/assets/img/perfil.png');
    background-repeat: no-repeat;
    background-position-x: 90%;
    font-family: 'Space Grotesk', sans-serif;
    
}

.nome {
    display: grid;
    grid-template-columns: 82% 5% 10%;
    color: var(--branco);
    font-weight: 700;
    font: bold;
    font-size: 2rem;
    margin: 2.5rem 0 0 9.37rem;

}

.apresentacao__principal {
    margin: 9.37rem 0 0  9.37rem;
    background-image: url('/assets/img/Group\ 26.png');
    background-repeat: no-repeat;
    
}

.titulo__principal {
    font-weight: 700;
    color: var(--branco);
    font-size: 5.5rem;
   
}

.imagem__nome {
    margin-left: 14%;
    width: 38%;
}

.subtitulo {
    font-weight: 500;
    color: var(--cinza);
    font-size: 2rem;
}

.margem {
    margin: 0 0 3% 0;
}

.linha__1 {
    margin-top: 2%;
}

.contato {
    color: var(--verde);
    margin-top: 5%;
}

.imagem__separando__sessao {
    margin: 5% 0 0 7%;
    width: 86%;
}

.linguagens {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    margin: 3% 0 0  18%;
    color: var(--branco);
    font-weight: 700;
    font-size: 3rem;
}

.projeto {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
}

.projeto__titulo {
    font-weight: 700;
    font-size: 5.5rem;
    color: var(--branco);
    margin: 15% 42% 15% 0;
}

.projeto__contato {
    font-weight: 500;
    font-size: 2rem;
    color: var(--verde);
    margin: 20% 14% 15% 65%;
}

.projeto__imagem {
    width: 50%;

}

.titulo__imagem {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--branco);
    padding: 10px;
    text-decoration: none;
   
}

.subtitulo__imagem {
    font-weight: 500;
    font-size: 1.12rem;
    color: var(--cinza);
    word-spacing: 1.56rem;
    margin: 0 0 10% 0;
}

.imagem__bateria {
    width: 27%;
    display: block;
    margin: 0 0 1% 12%;
}

.titulo__bateria {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--branco);
    
    text-decoration: none;
    margin-left: 20%;
}

.subtitulo__bateria {
    font-weight: 500;
    font-size: 1.12rem;
    color: var(--cinza);
    word-spacing: 1.56rem;
    margin: 0 0 10% 19%;
    padding: 10px;
}

.copyright {
    background: var(--cinza-escuro);
    padding: 40px 0;
    color: var(--branco);
    text-align: center;
    font-weight: 500;
}